@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap"); */

* {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  top: 0px !important;
  /* background-color: #d2d2d2; */
}
iframe.skiptranslate {
  visibility: hidden !important;
}
.imageOne {
  background-image: url("../public/statues-karnak-temple.jpg") !important;
  box-shadow: inset 10px 10px 170px 10px rgb(94, 94, 94) !important;
  max-width: 100%;
}
.imageTwo {
  background-image: url("../public/columns-karnak-temple.jpg") !important;
  box-shadow: inset 10px 10px 170px 10px rgb(94, 94, 94) !important;
}
.imageTHREE {
  background-image: url("../public/wall-karnak-temple-luxor-egypt.jpg") !important;
  box-shadow: inset 10px 10px 170px 10px rgb(94, 94, 94) !important;
}
.swiper-pagination-bullet-active {
  background-color: #d0ad50 !important;
  width: 30px !important;
  border-radius: 10px !important;
  transition-duration: 1s;
  transition-delay: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.outline {
  color: white; /* Unfortunately you can't use transparent here … */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
@supports ((text-stroke: 2px white) or (-webkit-text-stroke: 2px white)) {
  .outline {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    text-shadow: none;
  }
}

.sk-bio-content,
.sk-bio-name a,
.tutorial_link,
.sk-ww-tripadvisor-reviews-reviewer a strong,
.sk-google-review-button-more {
  color: theme(textColor.primary) !important;
}
.sk-sitejabber-reviews-load-more-posts {
  color: white !important;
  background-color: theme(backgroundColor.primary) !important;
  border: theme(borderColor.primary) !important;
}
