@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  top: 0px !important;
  /* background-color: #d2d2d2; */
}
iframe.skiptranslate {
  visibility: hidden !important;
}

.imageOne {
  background-image: url("https://res.cloudinary.com/dir8ao2mt/image/upload/v1718982794/columns-karnak-temple_bcbpbi.jpg") !important;
  box-shadow: inset 3px -100px 49px -11px #00080b;
  max-width: 100%;
}

.imageTwo {
  background-image: url("https://res.cloudinary.com/dir8ao2mt/image/upload/v1718463521/samples/balloons.jpg") !important;
  box-shadow: inset 3px -100px 49px -11px #00080b;
}

.imageTHREE {
  background-image: url("https://res.cloudinary.com/dir8ao2mt/image/upload/v1722031980/statues-karnak-temple_stcffm.jpg") !important;
  box-shadow: inset 3px -100px 49px -11px #00080b;
}
.swiper-pagination-bullet-active {
  background-color: #d0ad50 !important;
  width: 30px !important;
  border-radius: 10px !important;
  transition-duration: 1s;
  transition-delay: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.outline {
  color: white; /* Unfortunately you can't use transparent here … */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
@supports ((text-stroke: 2px white) or (-webkit-text-stroke: 2px white)) {
  .outline {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    text-shadow: none;
  }
}

@media only screen and (max-width: 600px) {
  .sk-sitejabber-item-item,
  .sk-sitejabber-item-sizer,
  .sk-sitejabber-item {
    position: none !important;
    width: 100% !important;
  }
  .sk-sitejabber-item {
    display: flex !important;
    flex-direction: column !important;
  }
}
/* href="" */
a[href="https://elfsight.com/tripadvisor-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=tripadvisor-reviews&utm_term=localhost&utm_campaign=free-widget"]
{
  display: none !important;
}
.Background__Base-sc-4lq1r6-1 {
  background-color: theme(backgroundColor.success) !important;
}
.klCrXV,
.iYrOhH {
  background-color: theme(backgroundColor.primary) !important;
}
.ant-steps-item-description {
  color: theme(colors.secondary) !important;
}
.ant-steps-item-title {
  color: theme(colors.primary) !important;
}
.ant-steps-item-icon {
  background-color: theme(backgroundColor.primary) !important;
  border-color: theme(backgroundColor.primary) !important;
}
.ant-steps-item-icon span {
  color: white !important;
}
.ant-steps-item-tail::after {
  background-color: theme(backgroundColor.primary) !important;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 15px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
